#navbar {
  padding-top: 20px;
  height: 100%;
  width: 30vw;
  position: fixed;
  z-index: 1; /* Stay on top of background */
  top: 0;
  left: 0;
  background-color: grey;
  border-right: solid 4px black;
  overflow-x: hidden; /* Disable horizontal scroll */
}
/* =====================================================================
still need to change width when tiny screen, when #navbar is stacked on top of #main-doc it's aligned weird
========================================================================*/

@media screen and (max-height: 450px) {
  #navbar {padding-top: 15px;}
  .navigation a {font-size: 1em;}
}

@media only screen and (max-width:768px){
  #navbar {width:100%; height:auto;}
}

.navbar_header {
  color: white;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.navigation {
  list-style-type: none;
}

#navbar li {
  border-top: 1px solid black;
}

.navigation a {
  padding: 4px 8px 4px 0px;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  display: block;
}
/*==============================================================
maybe change it to stay white on click? Better yet, when viewing that section
================================================================= */
.navigation a:hover {
  color: #f1f1f1;
}

label {
  display:inline-block;
}

/* strikethrough task when checkbox is clicked */
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: lightgrey;
}
/* strikethrough the submenu when main task is checked */
input[type="checkbox"]:checked ~ ul {
  text-decoration: line-through;
  color: lightgrey;
} 

/*=======================================
need to code when checkbox is clicked, it clicks submenu checkboxes
=========================================*/

input[type="checkbox"]:hover {
  cursor:pointer;
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.add-categories {
  list-style-type: none;
}

.add-category-input {
  padding: 32px 8px 4px 0px;
}

/* =====================================================================
still need to change width when tiny screen, when #navbar is stacked on top of #main-doc it's aligned weird
========================================================================*/

#main-doc {
  font-size: 2em;
  padding: 0px 10px;
  margin-left: 30vw;
}

.section-header {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

p {
  font-size: 0.85em;
}

.main_content_list {
  font-size: 0.7em;
  list-style-type: none;
}

.add-tasks {
  list-style-type:none;
}

hr {
  height: 6px;
  background-color: black;
}

.sub-list{
  list-style-type:disc;
}

.movie-buds-sub-list {
  list-style-type: none;
}

/* ========================================================
want to test greying out the category from left menu too, but didn't work with ul, li, label, a, or h3 

input[type="checkbox"]:checked + li{
  color:lightgrey;
}

==========================================================*/